@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap');

:root {
    --cor1: #0C2B30;
    --cor2: #AEAC9D;
    --cor3: #698F92;
    --cor4: #939185;
    --cor5: #4596A9;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;

}

html {
    padding: 15px;
    margin: 0 auto;
    max-width: 1220px;
    background-color: var(--cor1);
}

/* HEADER */
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--cor3);
    z-index: 1;
    border-bottom: 1px solid var(--cor1);
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #4596A9; */
}


.menu-items ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu-items li {
    padding: 10px;
    margin-top: 2px;
}

.menu-items a {
    text-decoration: none;
    font-weight: 700;
}

.menu-items a:hover {
    color: var(--cor1);
    text-decoration: overline;
    transition: 0.3s;
}


/* MAIN */
main {
    height: 70vh;
    margin-top: 70px;
}

.container-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.esquerda {
    width: 50%;
}

.esquerda p {
    font-size: 2em;
}

.esquerda h1 {
    font-size: 4em;
    color: var(--cor5);
}

.esquerda h2 {
    font-weight: 400;
}

.direita {
    width: 50%;
}

.direita img {
    width: 100%;
    max-width: 900px;
}

/* BOTOES */
.rede-social {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.rede-social a {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 150px;
    border: 2px solid var(--cor5);
    box-shadow: 1px 1px 10px black;
    background-color: var(--cor3);
    padding: 8px 40px;
    margin-top: 50px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    /*responsável por inclinar o botão*/
    transform: skew(-24deg);
}

.rede-social a:hover {
    background-color: var(--cor5);
}

.rede-social a>button {

    background: transparent;
    /*responsável por desinclinar o texto*/
    transform: skew(24deg);
    font-weight: 500;
    font-size: 21px;
    border: none;
    cursor: pointer;
    color: #ffffff;
}


/* SOBRE */
.container-sobre {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px;
    border-top: 1px solid var(--cor5);
    border-bottom: 1px solid var(--cor5);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.texto {
    max-width: 50%;
}

.texto h2 {
    margin: 50px 0px 10px 0px;
    color: var(--cor3);
    text-transform: uppercase;
}

.texto p {
    max-width: 700px;
    color: #e2e1d7;
    text-align: justify;
    margin-bottom: 50px;
}

.img-sobre {
    max-width: 50%;
}

.img-pedro {
    width: 250px;
    border-radius: 50%;
}

/* CONHECIMENTOS */
.conhecimentos{
    margin-bottom: 70px;
    padding: 50px;
    border-bottom: 1px solid var(--cor5);
}

.conhecimentos h2{
    margin-bottom: 30px;
    text-align: center;
    color: var(--cor3);
}

.container-conhecimentos{
    display: flex;
    justify-content: space-around;
}

.container-conhecimentos img{
    max-width: 150px;
}

/* PROJETOS */

.projetos h2 {
    text-align: center;
    color: var(--cor3);
}

.container-projeto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 350px;
    padding: 15px;
    border-radius: 15px;
    margin-top: 50px;
    background-color: #202020;
}

.card-image {
    display: flex;
    justify-content: center;
}

.imagem1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.titulo-card {
    text-align: center;
    color: var(--cor4);
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
}

.desc {
    color: var(--cor2);
    font-size: 15px;
}

.btn {
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 600;
    color: black;
    border-radius: 10px;
    border: none;
    background-color: var(--cor2);
    cursor: pointer;
}

.btn:hover {
    transition: 0.3s;
    background-color: var(--cor3);
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.ancora-botao {
    text-align: center;
}