@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap');

:root {
    --cor1: #0C2B30;
    --cor2: #AEAC9D;
    --cor3: #698F92;
    --cor4: #939185;
    --cor5: #4596A9;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: var(--cor1);
}

html {
    padding: 15px;
    margin: 0 auto;
    max-width: 1220px;
}

/* HEADER */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    border-bottom: 1px solid #4596A9;

}


.menu-items {
    font-size: 24px;
}

.menu-items ul {
    display: flex;
    list-style: none;
}

.menu-items li {
    padding: 15px;
}

.menu-items a {
    text-decoration: none;
    font-weight: 700;
}

.menu-items a:hover {
    color: var(--cor5);
    text-decoration: overline;
    transition: 0.3s;
}

/* MAIN */
main {
    height: 70vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.esquerda {
    width: 50%;
}

.esquerda p {
    font-size: 2em;
}

.esquerda h1 {
    font-size: 4em;
    color: var(--cor5);
}

.esquerda h2 {
    font-weight: 400;
}

.direita {
    width: 50%;
}

.direita img {
    width: 100%;
    max-width: 900px;
}

/* BOTOES */
.rede-social {
    display: flex;
    gap: 15px;
    margin-top: 35px;
}

.rede-social button {
    display: flex;
    justify-content: center;
    height: 45px;
    width: 225px;
    border: 2px solid var(--cor5);
    color: #fefefe;
    padding: 8px 40px;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    /*responsável por inclinar o botão*/
    transform: skew(-24deg);
}

.rede-social button:hover {
    background-color: var(--cor5);
}

.rede-social button>a {

    background: transparent;
    /*responsável por desinclinar o texto*/
    transform: skew(24deg);
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    text-decoration: none;
}

@media (max-width:942px) {
    .direita {
        display: none;
    }

    .esquerda {
        width: 100%;
        text-align: center;
    }

    .rede-social {
        justify-content: center;
    }
}