@media (max-width:942px) {
    .menu-items a {
        font-size: 15px;
    }

    .direita {
        display: none;
    }

    .esquerda {
        width: 100%;
        text-align: center;
    }

    .rede-social {
        justify-content: center;
        margin-bottom: 30px;
    }

    .container-sobre{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0 55px 0;
        
    }
    .texto{
        max-width: 80%;
    }
}

@media (max-width:619px) {
    .rede-social a{
        width: 100px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    
    .container-conhecimentos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}